@mixin transition($transition){
  -webkit-transition:$transition;
  transition:$transition;
}
@mixin transform($transform){
  -webkit-transform:$transform;
  transform:$transform;
}
@mixin transform-origin($transform-origin){
  -webkit-transform-origin:$transform-origin;
  transform-origin:$transform-origin;
}
@mixin opacity($opacity){
  opacity:$opacity;
}
@mixin animation($animation){
  -webkit-animation:$animation;
  animation:$animation;
}
@mixin keyframes($animation){
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}
@mixin backgroundSize($backgroundSize){
  -webkit-background-size:$backgroundSize;
  background-size:$backgroundSize;
}
@mixin bcImg(){
  @include backgroundSize(cover);
  background-repeat:no-repeat;
  background-position:center;
  display: block;
}